<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title> {{ title }}</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/gt_favicon.png') }}">

	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-theme.css') }}" media="screen" >
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='assets/js/html5shiv.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="{{ url_for('index') }}">Главная</a></li>
					<li><a href="{{ url_for('about') }}">О нас</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Другое <b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="{{ url_for('right') }}">1</a></li>
						</ul>
					</li>
					<li><a href="{{ url_for('contact') }}">Контакты</a></li>
					<li><a class="btn" href="{{ url_for('signin') }}">Войти</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

    {% block content %}{% endblock %}

    <footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Контакты</h3>
						<div class="widget-body">
							<p>+79222452724<br>
								<a href="mailto:#">romagrizly@gmail.com</a><br>
								<br>
								ул. Профессора Дедюкина, д. 18, г. Пермь
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Подписывайтесь</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-vk fa-2"></i></a>
								<a href=""><i class="fa fa-instagram fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Текстовый виджет</h3>
						<div class="widget-body">
							<p> ТУТ МОГЛА БЫТЬ ВАША РЕКЛАМА </p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{{ url_for('index') }}">Главная</a> |
								<a href="{{ url_for('about') }}">О нас</a> |
								<a href="{{ url_for('contact') }}">Контакты</a> |
								<b><a href="{{ url_for('signup') }}">Зарегистрироваться</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, <a href="https://vk.com/gerasimovrm" rel="designer">Gerasimov Roman</a><br>
                                Designed by <a href="https://gettemplate.com/" rel="designer">GetTemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='assets/js/headroom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jQuery.headroom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/template.js') }}"></script>
</body>
</html>